<a href="https://colab.research.google.com/github/Abhishekravindran/PySpark-Mlib/blob/main/Spark_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 59kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 20.1MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=00d4ca79a6ff317f93fa76f84a606c13c2391e09d1b0494da36e7d5c6cb54d99
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [2]:
import pandas as pd
pd.read_csv('/content/Customer.csv')

    Customer ID      Customer Name  ... Postal Code   Region
0      CG-12520        Claire Gute  ...       42420    South
1      DV-13045    Darrin Van Huff  ...       90036     West
2      SO-20335     Sean O'Donnell  ...       33311    South
3      BH-11710    Brosina Hoffman  ...       90032     West
4      AA-10480       Andrew Allen  ...       28027    South
..          ...                ...  ...         ...      ...
788    CJ-11875       Carl Jackson  ...       19140     East
789    RS-19870         Roy Skaria  ...       52601  Central
790    SC-20845         Sung Chung  ...       60004  Central
791    RE-19405    Ricardo Emerson  ...       44240     East
792    SM-20905  Susan MacKendrick  ...       43055     East

[793 rows x 9 columns]

In [3]:
import pyspark

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('practice').getOrCreate()

In [7]:
spark

In [8]:
df_pyspark=spark.read.csv('/content/Customer.csv')

In [10]:
df_pyspark.show()

+-----------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+
|        _c0|               _c1|        _c2|_c3|          _c4|            _c5|           _c6|        _c7|    _c8|
+-----------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+
|Customer ID|     Customer Name|    Segment|Age|      Country|           City|         State|Postal Code| Region|
|   CG-12520|       Claire Gute|   Consumer| 67|United States|      Henderson|      Kentucky|      42420|  South|
|   DV-13045|   Darrin Van Huff|  Corporate| 31|United States|    Los Angeles|    California|      90036|   West|
|   SO-20335|    Sean O'Donnell|   Consumer| 65|United States|Fort Lauderdale|       Florida|      33311|  South|
|   BH-11710|   Brosina Hoffman|   Consumer| 20|United States|    Los Angeles|    California|      90032|   West|
|   AA-10480|      Andrew Allen|   Consumer| 50|United States|        Concord|North Carolina|      28027|  South|
|   IM-15070|      Irene Maddox|   Consumer| 66|United States|        Seattle|    Washington|      98103|   West|
|   HP-14815|     Harold Pawlan|Home Office| 20|United States|     Fort Worth|         Texas|      76106|Central|
|   PK-19075|         Pete Kriz|   Consumer| 46|United States|        Madison|     Wisconsin|      53711|Central|
|   AG-10270|   Alejandro Grove|   Consumer| 18|United States|    West Jordan|          Utah|      84084|   West|
|   ZD-21925|Zuschuss Donatelli|   Consumer| 66|United States|  San Francisco|    California|      94109|   West|
|   KB-16585|         Ken Black|  Corporate| 67|United States|        Fremont|      Nebraska|      68025|Central|
|   SF-20065|   Sandra Flanagan|   Consumer| 41|United States|   Philadelphia|  Pennsylvania|      19140|   East|
|   EB-13870|       Emily Burns|   Consumer| 34|United States|           Orem|          Utah|      84057|   West|
|   EH-13945|     Eric Hoffmann|   Consumer| 21|United States|    Los Angeles|    California|      90049|   West|
|   TB-21520|   Tracy Blumstein|   Consumer| 48|United States|   Philadelphia|  Pennsylvania|      19140|   East|
|   MA-17560|      Matt Abelman|Home Office| 19|United States|        Houston|         Texas|      77095|Central|
|   GH-14485|         Gene Hale|  Corporate| 28|United States|     Richardson|         Texas|      75080|Central|
|   SN-20710|      Steve Nguyen|Home Office| 46|United States|        Houston|         Texas|      77041|Central|
|   LC-16930|    Linda Cazamias|  Corporate| 31|United States|     Naperville|      Illinois|      60540|Central|
+-----------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+
only showing top 20 rows

In [11]:
df_pyspark=spark.read.option('header','true').csv('/content/Customer.csv')

In [14]:
df_pyspark.show()

+-----------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+
|Customer ID|     Customer Name|    Segment|Age|      Country|           City|         State|Postal Code| Region|
+-----------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+
|   CG-12520|       Claire Gute|   Consumer| 67|United States|      Henderson|      Kentucky|      42420|  South|
|   DV-13045|   Darrin Van Huff|  Corporate| 31|United States|    Los Angeles|    California|      90036|   West|
|   SO-20335|    Sean O'Donnell|   Consumer| 65|United States|Fort Lauderdale|       Florida|      33311|  South|
|   BH-11710|   Brosina Hoffman|   Consumer| 20|United States|    Los Angeles|    California|      90032|   West|
|   AA-10480|      Andrew Allen|   Consumer| 50|United States|        Concord|North Carolina|      28027|  South|
|   IM-15070|      Irene Maddox|   Consumer| 66|United States|        Seattle|    Washington|      98103|   West|
|   HP-14815|     Harold Pawlan|Home Office| 20|United States|     Fort Worth|         Texas|      76106|Central|
|   PK-19075|         Pete Kriz|   Consumer| 46|United States|        Madison|     Wisconsin|      53711|Central|
|   AG-10270|   Alejandro Grove|   Consumer| 18|United States|    West Jordan|          Utah|      84084|   West|
|   ZD-21925|Zuschuss Donatelli|   Consumer| 66|United States|  San Francisco|    California|      94109|   West|
|   KB-16585|         Ken Black|  Corporate| 67|United States|        Fremont|      Nebraska|      68025|Central|
|   SF-20065|   Sandra Flanagan|   Consumer| 41|United States|   Philadelphia|  Pennsylvania|      19140|   East|
|   EB-13870|       Emily Burns|   Consumer| 34|United States|           Orem|          Utah|      84057|   West|
|   EH-13945|     Eric Hoffmann|   Consumer| 21|United States|    Los Angeles|    California|      90049|   West|
|   TB-21520|   Tracy Blumstein|   Consumer| 48|United States|   Philadelphia|  Pennsylvania|      19140|   East|
|   MA-17560|      Matt Abelman|Home Office| 19|United States|        Houston|         Texas|      77095|Central|
|   GH-14485|         Gene Hale|  Corporate| 28|United States|     Richardson|         Texas|      75080|Central|
|   SN-20710|      Steve Nguyen|Home Office| 46|United States|        Houston|         Texas|      77041|Central|
|   LC-16930|    Linda Cazamias|  Corporate| 31|United States|     Naperville|      Illinois|      60540|Central|
|   RA-19885|      Ruben Ausman|  Corporate| 51|United States|    Los Angeles|    California|      90049|   West|
+-----------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+
only showing top 20 rows

In [15]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [17]:
df_pyspark.printSchema()

root
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: string (nullable = true)
 |-- Region: string (nullable = true)

In [ ]:
#since we can see in the above schema our age is also read as string so we can solve it by

In [18]:
df_pyspark=spark.read.option('header','True').csv('/content/Customer.csv',inferSchema=True)

In [19]:
df_pyspark.printSchema()# now its solved

root
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Region: string (nullable = true)

In [21]:
#another way of reading the file is 
df_pyspark=spark.read.csv('/content/Customer.csv',header=True,inferSchema=True)
#df_pyspark.show()
df_pyspark.printSchema()

root
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Region: string (nullable = true)

In [22]:
df_pyspark.columns

['Customer ID',
 'Customer Name',
 'Segment',
 'Age',
 'Country',
 'City',
 'State',
 'Postal Code',
 'Region']

In [24]:
#selecting a coloumn in pyspark

df_pyspark.select('City','Country').show()

+---------------+-------------+
|           City|      Country|
+---------------+-------------+
|      Henderson|United States|
|    Los Angeles|United States|
|Fort Lauderdale|United States|
|    Los Angeles|United States|
|        Concord|United States|
|        Seattle|United States|
|     Fort Worth|United States|
|        Madison|United States|
|    West Jordan|United States|
|  San Francisco|United States|
|        Fremont|United States|
|   Philadelphia|United States|
|           Orem|United States|
|    Los Angeles|United States|
|   Philadelphia|United States|
|        Houston|United States|
|     Richardson|United States|
|        Houston|United States|
|     Naperville|United States|
|    Los Angeles|United States|
+---------------+-------------+
only showing top 20 rows

In [26]:
df_pyspark.dtypes

[('Customer ID', 'string'),
 ('Customer Name', 'string'),
 ('Segment', 'string'),
 ('Age', 'int'),
 ('Country', 'string'),
 ('City', 'string'),
 ('State', 'string'),
 ('Postal Code', 'int'),
 ('Region', 'string')]

In [28]:
df_pyspark.describe().show()

+-------+-----------+------------------+-----------+-----------------+-------------+----------+---------+------------------+-------+
|summary|Customer ID|     Customer Name|    Segment|              Age|      Country|      City|    State|       Postal Code| Region|
+-------+-----------+------------------+-----------+-----------------+-------------+----------+---------+------------------+-------+
|  count|        793|               793|        793|              793|          793|       793|      793|               793|    793|
|   mean|       null|              null|       null|44.46784363177806|         null|      null|     null|55229.717528373265|   null|
| stddev|       null|              null|       null|15.52667263605551|         null|      null|     null| 31679.22381580119|   null|
|    min|   AA-10315|     Aaron Bergman|   Consumer|               18|United States|     Akron|  Alabama|              1841|Central|
|    max|   ZD-21925|Zuschuss Donatelli|Home Office|               70|United States|Wilmington|Wisconsin|             99207|   West|
+-------+-----------+------------------+-----------+-----------------+-------------+----------+---------+------------------+-------+

In [30]:
#Adding Columns and Dropping Columns
df_pyspark.withColumn('Age after 2years',df_pyspark['Age']+2).show()

+-----------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+----------------+
|Customer ID|     Customer Name|    Segment|Age|      Country|           City|         State|Postal Code| Region|Age after 2years|
+-----------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+----------------+
|   CG-12520|       Claire Gute|   Consumer| 67|United States|      Henderson|      Kentucky|      42420|  South|              69|
|   DV-13045|   Darrin Van Huff|  Corporate| 31|United States|    Los Angeles|    California|      90036|   West|              33|
|   SO-20335|    Sean O'Donnell|   Consumer| 65|United States|Fort Lauderdale|       Florida|      33311|  South|              67|
|   BH-11710|   Brosina Hoffman|   Consumer| 20|United States|    Los Angeles|    California|      90032|   West|              22|
|   AA-10480|      Andrew Allen|   Consumer| 50|United States|        Concord|North Carolina|      28027|  South|              52|
|   IM-15070|      Irene Maddox|   Consumer| 66|United States|        Seattle|    Washington|      98103|   West|              68|
|   HP-14815|     Harold Pawlan|Home Office| 20|United States|     Fort Worth|         Texas|      76106|Central|              22|
|   PK-19075|         Pete Kriz|   Consumer| 46|United States|        Madison|     Wisconsin|      53711|Central|              48|
|   AG-10270|   Alejandro Grove|   Consumer| 18|United States|    West Jordan|          Utah|      84084|   West|              20|
|   ZD-21925|Zuschuss Donatelli|   Consumer| 66|United States|  San Francisco|    California|      94109|   West|              68|
|   KB-16585|         Ken Black|  Corporate| 67|United States|        Fremont|      Nebraska|      68025|Central|              69|
|   SF-20065|   Sandra Flanagan|   Consumer| 41|United States|   Philadelphia|  Pennsylvania|      19140|   East|              43|
|   EB-13870|       Emily Burns|   Consumer| 34|United States|           Orem|          Utah|      84057|   West|              36|
|   EH-13945|     Eric Hoffmann|   Consumer| 21|United States|    Los Angeles|    California|      90049|   West|              23|
|   TB-21520|   Tracy Blumstein|   Consumer| 48|United States|   Philadelphia|  Pennsylvania|      19140|   East|              50|
|   MA-17560|      Matt Abelman|Home Office| 19|United States|        Houston|         Texas|      77095|Central|              21|
|   GH-14485|         Gene Hale|  Corporate| 28|United States|     Richardson|         Texas|      75080|Central|              30|
|   SN-20710|      Steve Nguyen|Home Office| 46|United States|        Houston|         Texas|      77041|Central|              48|
|   LC-16930|    Linda Cazamias|  Corporate| 31|United States|     Naperville|      Illinois|      60540|Central|              33|
|   RA-19885|      Ruben Ausman|  Corporate| 51|United States|    Los Angeles|    California|      90049|   West|              53|
+-----------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+----------------+
only showing top 20 rows

In [31]:
df_pyspark=df_pyspark.withColumn('Age after 2years',df_pyspark['Age']+2)

In [32]:
df_pyspark.show()

+-----------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+----------------+
|Customer ID|     Customer Name|    Segment|Age|      Country|           City|         State|Postal Code| Region|Age after 2years|
+-----------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+----------------+
|   CG-12520|       Claire Gute|   Consumer| 67|United States|      Henderson|      Kentucky|      42420|  South|              69|
|   DV-13045|   Darrin Van Huff|  Corporate| 31|United States|    Los Angeles|    California|      90036|   West|              33|
|   SO-20335|    Sean O'Donnell|   Consumer| 65|United States|Fort Lauderdale|       Florida|      33311|  South|              67|
|   BH-11710|   Brosina Hoffman|   Consumer| 20|United States|    Los Angeles|    California|      90032|   West|              22|
|   AA-10480|      Andrew Allen|   Consumer| 50|United States|        Concord|North Carolina|      28027|  South|              52|
|   IM-15070|      Irene Maddox|   Consumer| 66|United States|        Seattle|    Washington|      98103|   West|              68|
|   HP-14815|     Harold Pawlan|Home Office| 20|United States|     Fort Worth|         Texas|      76106|Central|              22|
|   PK-19075|         Pete Kriz|   Consumer| 46|United States|        Madison|     Wisconsin|      53711|Central|              48|
|   AG-10270|   Alejandro Grove|   Consumer| 18|United States|    West Jordan|          Utah|      84084|   West|              20|
|   ZD-21925|Zuschuss Donatelli|   Consumer| 66|United States|  San Francisco|    California|      94109|   West|              68|
|   KB-16585|         Ken Black|  Corporate| 67|United States|        Fremont|      Nebraska|      68025|Central|              69|
|   SF-20065|   Sandra Flanagan|   Consumer| 41|United States|   Philadelphia|  Pennsylvania|      19140|   East|              43|
|   EB-13870|       Emily Burns|   Consumer| 34|United States|           Orem|          Utah|      84057|   West|              36|
|   EH-13945|     Eric Hoffmann|   Consumer| 21|United States|    Los Angeles|    California|      90049|   West|              23|
|   TB-21520|   Tracy Blumstein|   Consumer| 48|United States|   Philadelphia|  Pennsylvania|      19140|   East|              50|
|   MA-17560|      Matt Abelman|Home Office| 19|United States|        Houston|         Texas|      77095|Central|              21|
|   GH-14485|         Gene Hale|  Corporate| 28|United States|     Richardson|         Texas|      75080|Central|              30|
|   SN-20710|      Steve Nguyen|Home Office| 46|United States|        Houston|         Texas|      77041|Central|              48|
|   LC-16930|    Linda Cazamias|  Corporate| 31|United States|     Naperville|      Illinois|      60540|Central|              33|
|   RA-19885|      Ruben Ausman|  Corporate| 51|United States|    Los Angeles|    California|      90049|   West|              53|
+-----------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+----------------+
only showing top 20 rows

In [34]:
#dropping the columns
df_pyspark=df_pyspark.drop('Age after 2years')
df_pyspark.show()

+-----------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+
|Customer ID|     Customer Name|    Segment|Age|      Country|           City|         State|Postal Code| Region|
+-----------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+
|   CG-12520|       Claire Gute|   Consumer| 67|United States|      Henderson|      Kentucky|      42420|  South|
|   DV-13045|   Darrin Van Huff|  Corporate| 31|United States|    Los Angeles|    California|      90036|   West|
|   SO-20335|    Sean O'Donnell|   Consumer| 65|United States|Fort Lauderdale|       Florida|      33311|  South|
|   BH-11710|   Brosina Hoffman|   Consumer| 20|United States|    Los Angeles|    California|      90032|   West|
|   AA-10480|      Andrew Allen|   Consumer| 50|United States|        Concord|North Carolina|      28027|  South|
|   IM-15070|      Irene Maddox|   Consumer| 66|United States|        Seattle|    Washington|      98103|   West|
|   HP-14815|     Harold Pawlan|Home Office| 20|United States|     Fort Worth|         Texas|      76106|Central|
|   PK-19075|         Pete Kriz|   Consumer| 46|United States|        Madison|     Wisconsin|      53711|Central|
|   AG-10270|   Alejandro Grove|   Consumer| 18|United States|    West Jordan|          Utah|      84084|   West|
|   ZD-21925|Zuschuss Donatelli|   Consumer| 66|United States|  San Francisco|    California|      94109|   West|
|   KB-16585|         Ken Black|  Corporate| 67|United States|        Fremont|      Nebraska|      68025|Central|
|   SF-20065|   Sandra Flanagan|   Consumer| 41|United States|   Philadelphia|  Pennsylvania|      19140|   East|
|   EB-13870|       Emily Burns|   Consumer| 34|United States|           Orem|          Utah|      84057|   West|
|   EH-13945|     Eric Hoffmann|   Consumer| 21|United States|    Los Angeles|    California|      90049|   West|
|   TB-21520|   Tracy Blumstein|   Consumer| 48|United States|   Philadelphia|  Pennsylvania|      19140|   East|
|   MA-17560|      Matt Abelman|Home Office| 19|United States|        Houston|         Texas|      77095|Central|
|   GH-14485|         Gene Hale|  Corporate| 28|United States|     Richardson|         Texas|      75080|Central|
|   SN-20710|      Steve Nguyen|Home Office| 46|United States|        Houston|         Texas|      77041|Central|
|   LC-16930|    Linda Cazamias|  Corporate| 31|United States|     Naperville|      Illinois|      60540|Central|
|   RA-19885|      Ruben Ausman|  Corporate| 51|United States|    Los Angeles|    California|      90049|   West|
+-----------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+
only showing top 20 rows

In [35]:
#renaming the columns 
df_pyspark.withColumnRenamed("Segment","Type").show()

+-----------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+
|Customer ID|     Customer Name|       Type|Age|      Country|           City|         State|Postal Code| Region|
+-----------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+
|   CG-12520|       Claire Gute|   Consumer| 67|United States|      Henderson|      Kentucky|      42420|  South|
|   DV-13045|   Darrin Van Huff|  Corporate| 31|United States|    Los Angeles|    California|      90036|   West|
|   SO-20335|    Sean O'Donnell|   Consumer| 65|United States|Fort Lauderdale|       Florida|      33311|  South|
|   BH-11710|   Brosina Hoffman|   Consumer| 20|United States|    Los Angeles|    California|      90032|   West|
|   AA-10480|      Andrew Allen|   Consumer| 50|United States|        Concord|North Carolina|      28027|  South|
|   IM-15070|      Irene Maddox|   Consumer| 66|United States|        Seattle|    Washington|      98103|   West|
|   HP-14815|     Harold Pawlan|Home Office| 20|United States|     Fort Worth|         Texas|      76106|Central|
|   PK-19075|         Pete Kriz|   Consumer| 46|United States|        Madison|     Wisconsin|      53711|Central|
|   AG-10270|   Alejandro Grove|   Consumer| 18|United States|    West Jordan|          Utah|      84084|   West|
|   ZD-21925|Zuschuss Donatelli|   Consumer| 66|United States|  San Francisco|    California|      94109|   West|
|   KB-16585|         Ken Black|  Corporate| 67|United States|        Fremont|      Nebraska|      68025|Central|
|   SF-20065|   Sandra Flanagan|   Consumer| 41|United States|   Philadelphia|  Pennsylvania|      19140|   East|
|   EB-13870|       Emily Burns|   Consumer| 34|United States|           Orem|          Utah|      84057|   West|
|   EH-13945|     Eric Hoffmann|   Consumer| 21|United States|    Los Angeles|    California|      90049|   West|
|   TB-21520|   Tracy Blumstein|   Consumer| 48|United States|   Philadelphia|  Pennsylvania|      19140|   East|
|   MA-17560|      Matt Abelman|Home Office| 19|United States|        Houston|         Texas|      77095|Central|
|   GH-14485|         Gene Hale|  Corporate| 28|United States|     Richardson|         Texas|      75080|Central|
|   SN-20710|      Steve Nguyen|Home Office| 46|United States|        Houston|         Texas|      77041|Central|
|   LC-16930|    Linda Cazamias|  Corporate| 31|United States|     Naperville|      Illinois|      60540|Central|
|   RA-19885|      Ruben Ausman|  Corporate| 51|United States|    Los Angeles|    California|      90049|   West|
+-----------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+
only showing top 20 rows

#handling missing values  and dropping nan values

In [41]:
from pyspark.sql import SparkSession
Spark=SparkSession.builder.appName("dataFrame").getOrCreate()

In [43]:
df=spark.read.csv('/content/test2.csv',header=True,inferSchema=True)
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [44]:
df.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
| Abhishek|  31|        10| 30000|
|  Lavisha|  30|         8| 25000|
|    Chotu|  29|         4| 20000|
|    Manoj|  24|         3| 20000|
|     Raks|  21|         1| 15000|
|    Bittu|  23|         2| 18000|
|Shamsheer|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [45]:
df.dropna().show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Abhishek| 31|        10| 30000|
| Lavisha| 30|         8| 25000|
|   Chotu| 29|         4| 20000|
|   Manoj| 24|         3| 20000|
|    Raks| 21|         1| 15000|
|   Bittu| 23|         2| 18000|
+--------+---+----------+------+

In [46]:
# another way of doing it is 
df.na.drop(how='all').show()#how="any"means even if one null then drop if "all then all the values should be null"

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
| Abhishek|  31|        10| 30000|
|  Lavisha|  30|         8| 25000|
|    Chotu|  29|         4| 20000|
|    Manoj|  24|         3| 20000|
|     Raks|  21|         1| 15000|
|    Bittu|  23|         2| 18000|
|Shamsheer|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [47]:
df.dropna(how='any',thresh=2).show()#thresh=2 means atleast two non null values has to be there

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
| Abhishek|  31|        10| 30000|
|  Lavisha|  30|         8| 25000|
|    Chotu|  29|         4| 20000|
|    Manoj|  24|         3| 20000|
|     Raks|  21|         1| 15000|
|    Bittu|  23|         2| 18000|
|Shamsheer|null|      null| 40000|
|     null|  34|        10| 38000|
+---------+----+----------+------+

In [48]:
df.dropna(how='any',subset=['Experience']).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Abhishek| 31|        10| 30000|
| Lavisha| 30|         8| 25000|
|   Chotu| 29|         4| 20000|
|   Manoj| 24|         3| 20000|
|    Raks| 21|         1| 15000|
|   Bittu| 23|         2| 18000|
|    null| 34|        10| 38000|
+--------+---+----------+------+

In [53]:
df.na.fill("missing_value",'Name').show()

+-------------+----+----------+------+
|         Name| age|Experience|Salary|
+-------------+----+----------+------+
|     Abhishek|  31|        10| 30000|
|      Lavisha|  30|         8| 25000|
|        Chotu|  29|         4| 20000|
|        Manoj|  24|         3| 20000|
|         Raks|  21|         1| 15000|
|        Bittu|  23|         2| 18000|
|    Shamsheer|null|      null| 40000|
|missing_value|  34|        10| 38000|
|missing_value|  36|      null|  null|
+-------------+----+----------+------+

In [54]:
df.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
| Abhishek|  31|        10| 30000|
|  Lavisha|  30|         8| 25000|
|    Chotu|  29|         4| 20000|
|    Manoj|  24|         3| 20000|
|     Raks|  21|         1| 15000|
|    Bittu|  23|         2| 18000|
|Shamsheer|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [ ]:
#df['Age']=df.fillna(df['Age'].mean())
use imputer for filling na with mean

Filter Operation in pyspark

In [60]:
# finding age of people <=45
df_pyspark.filter("Age<=45").show()

+-----------+-----------------+-----------+---+-------------+-------------+------------+-----------+-------+
|Customer ID|    Customer Name|    Segment|Age|      Country|         City|       State|Postal Code| Region|
+-----------+-----------------+-----------+---+-------------+-------------+------------+-----------+-------+
|   DV-13045|  Darrin Van Huff|  Corporate| 31|United States|  Los Angeles|  California|      90036|   West|
|   BH-11710|  Brosina Hoffman|   Consumer| 20|United States|  Los Angeles|  California|      90032|   West|
|   HP-14815|    Harold Pawlan|Home Office| 20|United States|   Fort Worth|       Texas|      76106|Central|
|   AG-10270|  Alejandro Grove|   Consumer| 18|United States|  West Jordan|        Utah|      84084|   West|
|   SF-20065|  Sandra Flanagan|   Consumer| 41|United States| Philadelphia|Pennsylvania|      19140|   East|
|   EB-13870|      Emily Burns|   Consumer| 34|United States|         Orem|        Utah|      84057|   West|
|   EH-13945|    Eric Hoffmann|   Consumer| 21|United States|  Los Angeles|  California|      90049|   West|
|   MA-17560|     Matt Abelman|Home Office| 19|United States|      Houston|       Texas|      77095|Central|
|   GH-14485|        Gene Hale|  Corporate| 28|United States|   Richardson|       Texas|      75080|Central|
|   LC-16930|   Linda Cazamias|  Corporate| 31|United States|   Naperville|    Illinois|      60540|Central|
|   ES-14080|       Erin Smith|  Corporate| 20|United States|    Melbourne|     Florida|      32935|  South|
|   ON-18715|    Odella Nelson|  Corporate| 27|United States|        Eagan|   Minnesota|      55122|Central|
|   DP-13000|    Darren Powers|   Consumer| 40|United States|   New Albany|     Indiana|      47150|Central|
|   JM-15265|   Janet Molinari|  Corporate| 23|United States|New York City|    New York|      10024|   East|
|   TB-21055|  Ted Butterfield|   Consumer| 34|United States|         Troy|    New York|      12180|   East|
|   PS-18970|   Paul Stevenson|Home Office| 31|United States|      Chicago|    Illinois|      60610|Central|
|   BS-11590|    Brendan Sweed|  Corporate| 45|United States|      Gilbert|     Arizona|      85234|   West|
|   HM-14980|Henry MacAllister|   Consumer| 35|United States|New York City|    New York|      10009|   East|
|   JE-15745|       Joel Eaton|   Consumer| 25|United States|      Memphis|   Tennessee|      38109|  South|
|   KB-16600|      Ken Brennan|  Corporate| 29|United States|      Houston|       Texas|      77041|Central|
+-----------+-----------------+-----------+---+-------------+-------------+------------+-----------+-------+
only showing top 20 rows

In [61]:
df_pyspark.filter("age<=45").select('Age','City').show()

+---+-------------+
|Age|         City|
+---+-------------+
| 31|  Los Angeles|
| 20|  Los Angeles|
| 20|   Fort Worth|
| 18|  West Jordan|
| 41| Philadelphia|
| 34|         Orem|
| 21|  Los Angeles|
| 19|      Houston|
| 28|   Richardson|
| 31|   Naperville|
| 20|    Melbourne|
| 27|        Eagan|
| 40|   New Albany|
| 23|New York City|
| 34|         Troy|
| 31|      Chicago|
| 45|      Gilbert|
| 35|New York City|
| 25|      Memphis|
| 29|      Houston|
+---+-------------+
only showing top 20 rows

In [66]:
#multiple Condition
df_pyspark.filter((df_pyspark["Age"]<=45)&(df_pyspark["City"]=="Los Angeles")).show()

+-----------+----------------+-----------+---+-------------+-----------+----------+-----------+------+
|Customer ID|   Customer Name|    Segment|Age|      Country|       City|     State|Postal Code|Region|
+-----------+----------------+-----------+---+-------------+-----------+----------+-----------+------+
|   DV-13045| Darrin Van Huff|  Corporate| 31|United States|Los Angeles|California|      90036|  West|
|   BH-11710| Brosina Hoffman|   Consumer| 20|United States|Los Angeles|California|      90032|  West|
|   EH-13945|   Eric Hoffmann|   Consumer| 21|United States|Los Angeles|California|      90049|  West|
|   JS-15685|        Jim Sink|  Corporate| 33|United States|Los Angeles|California|      90036|  West|
|   FM-14290|    Frank Merwin|Home Office| 45|United States|Los Angeles|California|      90032|  West|
|   JH-15910| Jonathan Howell|   Consumer| 40|United States|Los Angeles|California|      90032|  West|
|   JO-15280|   Jas O'Carroll|   Consumer| 39|United States|Los Angeles|California|      90004|  West|
|   DB-13615|   Doug Bickford|   Consumer| 19|United States|Los Angeles|California|      90045|  West|
|   PB-19150|    Philip Brown|   Consumer| 30|United States|Los Angeles|California|      90004|  West|
|   KB-16240|      Karen Bern|  Corporate| 42|United States|Los Angeles|California|      90036|  West|
|   JC-15340| Jasper Cacioppo|   Consumer| 39|United States|Los Angeles|California|      90032|  West|
|   OT-18730|     Olvera Toch|   Consumer| 39|United States|Los Angeles|California|      90045|  West|
|   FP-14320|     Frank Preis|   Consumer| 20|United States|Los Angeles|California|      90008|  West|
|   CC-12145|Charles Crestani|   Consumer| 21|United States|Los Angeles|California|      90004|  West|
|   AB-10165|     Alan Barnes|   Consumer| 22|United States|Los Angeles|California|      90036|  West|
|   RD-19810|Ross DeVincentis|Home Office| 35|United States|Los Angeles|California|      90045|  West|
|   AT-10435|     Alyssa Tate|Home Office| 19|United States|Los Angeles|California|      90004|  West|
|   BT-11530| Bradley Talbott|Home Office| 34|United States|Los Angeles|California|      90036|  West|
|   BF-11170|      Ben Ferrer|Home Office| 19|United States|Los Angeles|California|      90036|  West|
|   HG-14965|   Henry Goldwyn|  Corporate| 32|United States|Los Angeles|California|      90032|  West|
+-----------+----------------+-----------+---+-------------+-----------+----------+-----------+------+
only showing top 20 rows

In [68]:
# we can use & and | also

In [69]:
#using Not operation
df_pyspark.filter(~(df_pyspark["Age"]<=45)).show()

+-----------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+
|Customer ID|     Customer Name|    Segment|Age|      Country|           City|         State|Postal Code| Region|
+-----------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+
|   CG-12520|       Claire Gute|   Consumer| 67|United States|      Henderson|      Kentucky|      42420|  South|
|   SO-20335|    Sean O'Donnell|   Consumer| 65|United States|Fort Lauderdale|       Florida|      33311|  South|
|   AA-10480|      Andrew Allen|   Consumer| 50|United States|        Concord|North Carolina|      28027|  South|
|   IM-15070|      Irene Maddox|   Consumer| 66|United States|        Seattle|    Washington|      98103|   West|
|   PK-19075|         Pete Kriz|   Consumer| 46|United States|        Madison|     Wisconsin|      53711|Central|
|   ZD-21925|Zuschuss Donatelli|   Consumer| 66|United States|  San Francisco|    California|      94109|   West|
|   KB-16585|         Ken Black|  Corporate| 67|United States|        Fremont|      Nebraska|      68025|Central|
|   TB-21520|   Tracy Blumstein|   Consumer| 48|United States|   Philadelphia|  Pennsylvania|      19140|   East|
|   SN-20710|      Steve Nguyen|Home Office| 46|United States|        Houston|         Texas|      77041|Central|
|   RA-19885|      Ruben Ausman|  Corporate| 51|United States|    Los Angeles|    California|      90049|   West|
|   PO-18865| Patrick O'Donnell|   Consumer| 64|United States|       Westland|      Michigan|      48185|Central|
|   LH-16900|    Lena Hernandez|   Consumer| 66|United States|          Dover|      Delaware|      19901|   East|
|   KM-16720|      Kunst Miller|   Consumer| 69|United States|    Los Angeles|    California|      90004|   West|
|   KD-16270|     Karen Daniels|   Consumer| 59|United States|    Springfield|      Virginia|      22153|  South|
|   JC-16105|   Julie Creighton|  Corporate| 56|United States|         Durham|North Carolina|      27707|  South|
|   PG-18895|     Paul Gonzalez|   Consumer| 64|United States|      Rochester|     Minnesota|      55901|Central|
|   GM-14455|      Gary Mitchum|Home Office| 64|United States|        Houston|         Texas|      77095|Central|
|   KB-16315|        Karl Braun|   Consumer| 70|United States|    Minneapolis|     Minnesota|      55407|Central|
|   RB-19705|      Roger Barcio|Home Office| 63|United States|       Portland|        Oregon|      97206|   West|
|   ER-13855| Elpida Rittenbach|  Corporate| 56|United States|     Saint Paul|     Minnesota|      55106|Central|
+-----------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+
only showing top 20 rows

GROUPBY AND AGGREGATE FUNCTION

In [74]:
df_pyspark.groupby('Age').count().show()
#from below we can see that the age number of 31 are the highest in number

+---+-----+
|Age|count|
+---+-----+
| 31|   22|
| 65|   17|
| 53|   16|
| 34|   17|
| 28|   10|
| 27|   11|
| 26|   11|
| 44|   16|
| 22|   19|
| 47|   16|
| 52|   10|
| 20|   17|
| 40|   10|
| 57|   18|
| 54|   10|
| 48|   21|
| 19|   16|
| 64|   17|
| 41|   21|
| 43|    5|
+---+-----+
only showing top 20 rows

In [77]:
#lets see mean age retrived as per city
df_pyspark.groupBy('City').mean().show()

+---------------+------------------+------------------+
|           City|          avg(Age)|  avg(Postal Code)|
+---------------+------------------+------------------+
|          Tyler|              61.0|           75701.0|
|    Springfield|              49.0| 38396.42857142857|
|  Bowling Green|              54.0|           42104.0|
|         Auburn|46.333333333333336|20957.333333333332|
|North Las Vegas|              40.0|           89031.0|
|        Phoenix|              42.0|           85023.0|
|  Lake Elsinore|              51.0|           92530.0|
|         Monroe|              54.4|           53965.8|
| Pembroke Pines|              25.0|           33024.0|
|       Westland|              64.0|           48185.0|
|    Lindenhurst|              51.0|           11757.0|
|         Marion|              56.0|           43302.0|
|          Omaha|              51.0|           68104.0|
|   Fort Collins|              65.0|           80525.0|
|        Everett|              63.0|            2149.0|
|     Greensboro|              59.0|           27405.0|
|       Franklin|             51.75|           23568.0|
|   Lincoln Park|              26.0|           48146.0|
|         Dallas| 40.30769230769231| 75187.23076923077|
|    Thomasville|              41.0|           27360.0|
+---------------+------------------+------------------+
only showing top 20 rows

In [80]:
df_pyspark.agg({'Segment':'count'}).show()

+--------------+
|count(Segment)|
+--------------+
|           793|
+--------------+

In [81]:
df_pyspark.groupBy('Age').min().show()

+---+--------+----------------+
|Age|min(Age)|min(Postal Code)|
+---+--------+----------------+
| 31|      31|            3301|
| 65|      65|            2038|
| 53|      53|           10009|
| 34|      34|           10011|
| 28|      28|            8302|
| 27|      27|           19120|
| 26|      26|           10024|
| 44|      44|            6824|
| 22|      22|           10009|
| 47|      47|           10035|
| 52|      52|           10024|
| 20|      20|            6040|
| 40|      40|            1841|
| 57|      57|           10009|
| 54|      54|            8360|
| 48|      48|            3820|
| 19|      19|            1852|
| 64|      64|           10035|
| 41|      41|            2908|
| 43|      43|           44312|
+---+--------+----------------+
only showing top 20 rows